ion-content {
    --background: var(--ion-background-color);
    padding: 10px;
    color: var(--ion-text-color);
}

.custom-loading {
    --background: rgba(0, 0, 0, 0.8);
    --spinner-color: var(--ion-color-primary);
    --message-color: var(--ion-text-color);
}
